root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
ij_visual_guides = 80, 120
ij_continuation_indent_size = 4
ij_smart_tabs = true
ij_any_if_brace_force = always
ij_any_for_brace_force = always
ij_any_while_brace_force = always

[*.php]
ij_any_class_brace_style = next_line

[*.{js, jsx, ts, tsx}]
ij_javascript_force_quote_style = true
ij_javascript_use_double_quotes = false
ij_typescript_force_quote_style = true
ij_typescript_use_double_quotes = false

[*.md]
indent_size = 2
trim_trailing_whitespace = false
ij_wrap_on_typing = true
